### Exercise of Day 09
### **Lambda Functions**

1. Write a lambda function that takes a number and returns its cube.
2. Write a lambda function that returns the first character of a string.
3. Write a lambda function that checks if a number is greater than 10.
4. Write a lambda function that returns the last character of a string.
5. Write a lambda function that takes a list and returns the sum of its elements.

### **Map**

1. Use `map()` with a lambda function to convert a list of temperatures from Celsius to Fahrenheit.
2. Use `map()` with a lambda function to square each number in a list.
3. Use `map()` with a lambda function to prepend the string "Hello, " to each name in a list of names.
4. Use `map()` with a lambda function to calculate the length of each string in a list of strings.
5. Use `map()` with a lambda function to add 100 to each element in a list of numbers.

### **Filter**

1. Use `filter()` with a lambda function to select all even numbers from a list.
2. Use `filter()` with a lambda function to get all names that start with the letter 'A' from a list of names.
3. Use `filter()` with a lambda function to extract all strings longer than 5 characters from a list.
4. Use `filter()` with a lambda function to select numbers greater than 50 from a list.
5. Use `filter()` with a lambda function to get all positive numbers from a list of integers.

### **Reduce**

1. Use `reduce()` with a lambda function to find the maximum number in a list.
2. Use `reduce()` with a lambda function to concatenate a list of strings into a single string.
3. Use `reduce()` with a lambda function to compute the sum of all elements in a list.
4. Use `reduce()` with a lambda function to multiply all elements in a list.
5. Use `reduce()` with a lambda function to find the minimum number in a list.

### **List Comprehensions**

1. Use a list comprehension to create a list of squares of numbers from 1 to 10.
2. Use a list comprehension to filter out all odd numbers from a list.
3. Use a list comprehension to create a list of strings that are capitalized versions of a given list.
4. Use a list comprehension to extract the first letter of each word in a list of words.
5. Use a list comprehension to create a list of numbers from 1 to 20 that are divisible by 4.

**Lambda Functions**

1. Write a lambda function that takes a number and returns its cube.

In [1]:
cubes = lambda x: x**3

In [2]:
cubes(5)

125

2. Write a lambda function that returns the first character of a string.

In [3]:
first_character = lambda x: x[0]

In [4]:
x = "Mama"
first_character(x)

'M'

3. Write a lambda function that checks if a number is greater than 10.

In [5]:
number_greater_than_10 = lambda x: x > 10

In [6]:
number_greater_than_10(15)

True

4. Write a lambda function that returns the last character of a string.

In [7]:
last_character = lambda x: x[-1]

In [9]:
x = "Mama is a good cook"
last_character(x)

'k'

5. Write a lambda function that takes a list and returns the sum of its elements.

In [10]:
summation = lambda x: sum(x)

In [11]:
x = [30, 40, 90]
summation(x)

160

### **Map**

1. Use `map()` with a lambda function to convert a list of temperatures from Celsius to Fahrenheit.

In [1]:
celcius_temperature = [23, 90, 45, -40]
fahrenheit = list(map(lambda x: (x - 32 * 5 / 9), celcius_temperature))

In [2]:
# x - Temperature in Celcius
fahrenheit

[5.222222222222221, 72.22222222222223, 27.22222222222222, -57.77777777777778]

2. Use `map()` with a lambda function to square each number in a list.

In [12]:
lst = [2, 4, 6, 8, 20]
squares_lst = list(map(lambda x: x ** 2, lst))

In [15]:
squares_lst

[4, 16, 36, 64, 400]

3. Use `map()` with a lambda function to prepend the string "Hello, " to each name in a list of names.

In [26]:
list_names = ["Mwende", "Sysh", "Kelly", "Kevin"]
prepend_ = list(map(lambda x: "Hello" + " " + x, list_names))

In [27]:
prepend_

['Hello Mwende', 'Hello Sysh', 'Hello Kelly', 'Hello Kevin']

4. Use `map()` with a lambda function to calculate the length of each string in a list of strings.

In [28]:
list_ = ["Mama is a good cook", "Oh my Mama", "Oh Boy"]
length_string = list(map(lambda x: len(x), list_))

In [29]:
length_string

[19, 10, 6]

5. Use `map()` with a lambda function to add 100 to each element in a list of numbers.

In [30]:
numbers = [20, 45, 89, 96]
list_100 = list(map(lambda x: 100 + x, numbers))

In [31]:
list_100

[120, 145, 189, 196]

### **Filter**

1. Use `filter()` with a lambda function to select all even numbers from a list.

In [32]:
list_no = [22, 91, 34, 56, 59, 99, 00, 23, 43]
even_no = list(filter(lambda x: x % 2 == 0, list_no))

In [33]:
even_no

[22, 34, 56, 0]

2. Use `filter()` with a lambda function to get all names that start with the letter 'A' from a list of names.

In [35]:
list_names = ["Arnold", "Argan", "Andrea", "Angeline", "Jolie", "Marcus"]
A_list = list(filter(lambda x: x[0] == "A", list_names))

In [36]:
A_list

['Arnold', 'Argan', 'Andrea', 'Angeline']

3. Use `filter()` with a lambda function to extract all strings longer than 5 characters from a list.

In [37]:
list_ = ["Mama is a good cook", "Oh my Mama", "Oh Boy", "Boy", "Girl"]
characters_more_5 = list(filter(lambda x: len(x) > 5, list_))

In [38]:
characters_more_5

['Mama is a good cook', 'Oh my Mama', 'Oh Boy']

4. Use `filter()` with a lambda function to select numbers greater than 50 from a list.

In [39]:
numbers = [100, 78, 12, 45, 67]
number_greater_than_50 = list(filter(lambda x: x > 50, numbers))

In [40]:
number_greater_than_50

[100, 78, 67]

5. Use `filter()` with a lambda function to get all positive numbers from a list of integers.

In [41]:
numbers = [-1, -20, 90, 45, 120]
positive_no = list(filter(lambda x: x > 0, numbers))

In [42]:
positive_no

[90, 45, 120]

### **Reduce**

1. Use `reduce()` with a lambda function to find the maximum number in a list.

In [46]:
from functools import reduce

In [48]:
numbers = [-1, -20, 90, 45, 120]
reduced_value = (reduce(lambda x, y: max(x, y), numbers))

In [49]:
reduced_value

120

2. Use `reduce()` with a lambda function to concatenate a list of strings into a single string.

In [50]:
string_ = ["Mama", "is", "a", "good", "cook"]
concatenated = reduce(lambda x, y: x + " " + y, string_)

In [51]:
concatenated

'Mama is a good cook'

3. Use `reduce()` with a lambda function to compute the sum of all elements in a list.

In [58]:
list1 = [23, 56, 78, 90]
summation = reduce(lambda x, y: x + y, list1)

In [59]:
summation

247

4. Use `reduce()` with a lambda function to multiply all elements in a list.

In [60]:
numbers = [2, 4, 6, 8]
mul = reduce(lambda x, y: x * y, numbers)

In [61]:
mul

384

5. Use `reduce()` with a lambda function to find the minimum number in a list.

In [66]:
numbers = [-1, -20, 90, 45, 120]
minimum_number = reduce(lambda x, y: min(x, y), numbers)

In [67]:
minimum_number

-20

### **List Comprehensions**

1. Use a list comprehension to create a list of squares of numbers from 1 to 10.

In [73]:
numbers = [2, 4, 6, 8, 10]
squares = [num ** 2 for num in numbers]

In [74]:
squares

[4, 16, 36, 64, 100]

2. Use a list comprehension to filter out all odd numbers from a list.

In [85]:
numbers = [2, 4, 3, 8, 11]
odd_numbers = [x for x in numbers if x % 2 != 0]

In [86]:
odd_numbers

[3, 11]

3. Use a list comprehension to create a list of strings that are capitalized versions of a given list.

In [88]:
list1 = ["zero analyst", "confessions of nairobi men"]
capitalized_names = [name.title() for name in list1]

In [89]:
capitalized_names

['Zero Analyst', 'Confessions Of Nairobi Men']

4. Use a list comprehension to extract the first letter of each word in a list of words.

In [94]:
string1 = ["Mama", "Baba", "Old noose"]
first_character = [x[0] for x in string1]

In [95]:
print(first_character)

['M', 'B', 'O']

5. Use a list comprehension to create a list of numbers from 1 to 20 that are divisible by 4

In [97]:
divisible_by_4 = [x for x in range(1, 20+1) if x % 4 == 0]
divisible_by_4

[4, 8, 12, 16, 20]