### Welcome to day 9
**Lambda Functions and List Comprehensions**

Lambda functions are small anonymous functions defined using the keyword lambda. They are a quick way to create simple functions without using the def keyword. A lambda function can take any number of arguments but can only have one expression, which is evaluated and returned.

In [ ]:
#lambda arguments: expression

Create lambda function that return add 2 numbers

In [ ]:
addition = lambda x, y: x + y

In [ ]:
addition(6, 2)

In [7]:
mul = lambda a, b, c, d: a * b * c * d

In [8]:
mul(1, 2, 3, 4)

24

In [5]:
# using def keyword
def add_numbers(x, y):
    r1 = x * y
    result = x + y
    return result, r1

In [6]:
# calling the function
add_numbers(3, 5)

(8, 15)

In [23]:
addition = lambda x, y: x + y

In [30]:
mul = lambda a,b,c,d : a * b * c * d

In [31]:
mul(1, 2, 3, 4)

24

In [28]:
def add_numbers(x, y):
    r1 = x * y
    result = x + y
    return result, r1

In [29]:
add_numbers(6, 2)

(8, 12)

In [24]:
addition(6, 2)

8

Write a lambda function that takes a list of numbers and returns the maximum value.

In [21]:
maximum_value = lambda x : max(x)

In [22]:
maximum_value([1, 2, 3, 55, 6, 9, 21])

55

In [23]:
maximum_value([2, 4, 6, 7, 22])

22

In [57]:
maximum_value = lambda x : max(x)

In [60]:
numbers = [1, 2, 3, 55, 6, 9, 21]

In [62]:
maximum_value([2, 4, 6, 7, 22])

22

In [25]:
numbers = [1, 2, 3, 55, 6, 9, 21]

In [27]:
list(map(lambda x : x ** 2, numbers))

[1, 4, 9, 3025, 36, 81, 441]

Write a lambda function that returns the square of a number

In [10]:
square = 3 ** 2
square

9

In [11]:
squares = lambda x : x ** 2

In [12]:
squares(11)

121

In [35]:
squares = lambda x: x**2

In [37]:
squares(9)

81

In [34]:
squares = 3 ** 2
squares

9

Write a lambda function to convert a string to uppercase.

In [17]:
s = "Hello how are you doing?"
s.upper()

'HELLO HOW ARE YOU DOING?'

In [18]:
upper_case = lambda s : s.upper()

In [19]:
upper_case(s)

'HELLO HOW ARE YOU DOING?'

In [47]:
s = "How are you doing"

In [45]:
upper_case = lambda s : s.upper()

In [71]:
numbers = [1, 2, 3, 55, 6, 9, 21]

In [72]:
list(map(lambda x: x**2, numbers))

[1, 4, 9, 3025, 36, 81, 441]

Create a lambda function that checks if a given number is even.

In [28]:
is_even = lambda x: x % 2 == 0

In [31]:
is_even(4334344)

True

In [35]:
list(map(lambda x: x%2==0, numbers))

[False, True, True, False]

In [33]:
numbers = [1, 4, 6, 9]

In [34]:
is_even(numbers)

TypeError: 'list' object is not callable

In [73]:
is_even = lambda x: x%2==0

In [77]:
numbers = [1, 4, 6, 9]

In [80]:
list(map(lambda x: x%2==0, numbers))

[False, True, True, False]

In [76]:
is_even(4434344)

True

map(): Applies a function to all items in an iterable (like a list) and returns a map object (which is an iterator). The function passed can be a lambda function.

In [6]:
my_numbers = [1, 2, 3, 4]

In [ ]:
x = list(map(squares, my_numbers))
x

#### Map()
map(): Applies a function to all items in an iterable (like a list) and returns a map object (which is an iterator).  
The function passed can be a lambda function.

#### List Comprehensions

List comprehensions provide a concise way to create lists. They consist of brackets containing an expression   
followed by a for clause, and can also include if clauses.   
This allows for powerful filtering and transformation of iterables in a compact format.

[expression for item in iterable]

In [36]:
my_numbers = [2, 4, 5]

In [38]:
[x * 2 for x in my_numbers]

[4, 8, 10]

In [37]:
list(map(lambda x: x * 2, my_numbers))

[4, 8, 10]

In [82]:
my_numbers = [2, 4, 5]

In [86]:
for x in my_numbers:
    print(x)

2
4
5

In [85]:
[x*2 for x in my_numbers]

[4, 8, 10]

In [83]:
list(map(lambda x: x*2, my_numbers))

[4, 8, 10]

In [87]:
natural_numbers = [num*2 for num in range(1, 11)]
natural_numbers

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

**List comprehensive with IF condition**

[expression for item in iterable if condition]

Use a list comprehension to create a list of squares of the first 5 natural numbers.

In [5]:
[num ** 2 for num in range(1, 5+1)]

[1, 4, 9, 16, 25]

Use a list comprehension to create a list of the first 10 even numbers.

In [9]:
is_even = [num for num in range(1, 10 + 1) if num % 2 == 0]
is_even

[2, 4, 6, 8, 10]

Use a list comprehension to filter out negative numbers from a list.

In [16]:
lst = [1, 2, 3, 4, 5, 6, -7, -4, - 6]
negative_number = [num for num in lst if num > 0]

In [17]:
negative_number

[1, 2, 3, 4, 5, 6]

In [4]:
fruits = ["banana", "mango", "cherry", "apple"]

In [3]:
[fru for fru in fruits]

['banana', 'mango', 'cherry', 'apple']

In [1]:
# check odd numbers from 1 to 20
[num + 2 for num in range(1, 20+1) if num % 2 != 0]

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21]

In [42]:
# check even numbers from 1 to 20
[num for num in range(1, 20+1) if num % 2 == 0]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [39]:
for i in range(1, 20+1):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [6]:
numbers = [1, 2, 3, 4, 5, 6, -7, -4, - 6]